body {
    margin: 15em auto;
    text-align: center;
}

div {
    margin: 1em;
}

.guessDiv {
    display: none;
}

.show {
    display: block;
}

#guessButton {
    margin: 1em;
    padding: .2em .4em;
}

#button {
    padding: .2em .4em;
}

#button:hover {
    background-color: black;
    color: white;
}

#guessButton:hover {
    background-color: black;
    color: white;
}

footer {
    margin-top: 5em;
}