body {
    margin: 15em auto;
    text-align: center;
}

div {
    margin: 1em;
}

.guessDiv {
    display: none;
}

.show {
    display: block;
}

#guessButton {
    /* display: block; */
    margin: 1em;
}

footer {
    margin-top: 5em;
}